:root {
  --primary-color: #ffff;
  --secondary-color: #79CBF3;
  --secondary-down-color: #5591af;
  --third-color: #F38E02;
  --fourth-color: #D78A9C;
  --hover-color: #a9907e;
}
*{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.navbar
{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}
.navbar .div-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .div-main-logo .div-logo {
    display: flex;
    align-items: center;
}

.navbar .div-logo .text-logo {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .div-logo .text-logo-tone {
    color: var(--third-color);
}
.navbar .link
{
 display: flex;
 flex: 5;
 justify-content: center;
 align-items: center;
 text-align: center;
 gap: 60px;
}
.navbar .link .link-text
{
 text-decoration: none;
 color: var(--secondary-color);
 font-size: 20px;
 transition: 0.3s;
}
.navbar .link .link-text:hover
{
    color: var(--secondary-down-color);
}
.navbar .nav-btn-div
{
    display: flex;
    gap: 13px;
 padding-right: 20px;
 flex: 1;
}
.btn1 {
  align-items: center;
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: var(--secondary-color);
}
.alink1{
  text-decoration: none;
  color: var(--secondary-color);
}
.btn1:hover,
.alink1:hover {
  border-color: var(--secondary-down-color);
  color: var(--secondary-down-color);
  fill: var(--secondary-down-color);
}
.btn1:active {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
.btn2 {
  align-items: center;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
  box-sizing: border-box;
  color: var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.alink2{
  text-decoration: none;
  color: var(--primary-color);
}
.btn2:hover,
.alink2:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  fill: var(--primary-color);
}
.btn2:active {
  border-color: var(--primary-color);
  color: var(--primary-color);
  fill: var(--secondary-color);
}

.main-content
{
  background-color: var(--secondary-color);
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content-container
{
  background-color: var(--primary-color);
  width: 80%;
  height: 27rem;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 4px;
  padding-top: 20px;
}
.main-content-container .main-content-text-project-info
{
  width: 50%;
}
.main-content-container .main-content-text-project-info .main-content-text-project-info-header
{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.main-content-text-project-info-header .TrusTone-text
{
  text-align: center;
}
.slogen-text
{
  color: var(--third-color);
}
.main-content-container .main-content-text-project-info .main-content-text-project-info-description
{
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: medium;
  font-style: normal;
  width: 36rem;
  height: auto;
  text-align: start;
}
.main-content-container .main-content-image .main-content-image-robot
{
  width: 50%;
}
.viewer-content
{
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.viewer-content .viewer-content-sections
{
  width: 80%;
  height: 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 16px;
  margin-bottom: 10rem;
}
.viewer-content .viewer-content-sections .viewer-content-sections-text
{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  margin-top: 20px;
  font-size: x-large;
  font-weight: 700;
}
.community-content
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.community-content .community-content-sections
{
  padding-bottom: 5rem;
}
@keyframes text1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.text1
{
  animation-name: text1;
  animation-duration: 3s;
}
@keyframes text2 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.text2
{
  animation-name: text2;
  animation-duration: 5s;
}
@keyframes text3 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.text3
{
  animation-name: text3;
  animation-duration: 7s;
}